<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, target-densitydpi=device-dpi" />
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <title>Hello</title>
    </head>
    <body>
        <header>
                  WELECOM
        </header>

        

           <div class="start" align="center" > <img src="img/play1.png" ></div>
           

    

        

       
    </body>
</html>
